<div class="card shadow mb-4">
  <div class="card-body">
    <img
      class="img-fluid mx-auto d-block"
      src="
      https://firebasestorage.googleapis.com/v0/b/proyectoazul-dc9d3.appspot.com/o/bluebird.png?alt=media&token=7aa091e7-fa7c-4c70-9d3f-b09b92ae5fa6
      "
      alt="Logo Bluetweet"
      style="max-height: 100px; max-width: 100px;"
    />

    <form [formGroup]="publicacionForm">
      <div class="form-group">
        <textarea
          class="form-control texto"
          formControlName="texto"
          required
          placeholder="¿Qué está pasando?"
        ></textarea>
      </div>
    </form>

    <app-file-uploader (imagePick)="onImagePicked($event)"></app-file-uploader>

    <button id="botonPublicar" type="button" class="btn btn-primary float-right" (click)="onSubmit()" [disabled]="!publicacionForm.valid">
      Publicar
    </button>
  </div>
</div>
