<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <em class="fas fa-crow"></em>
    </div>
    <div class="sidebar-brand-text mx-3">BlueTweet</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Home -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/home']">
      <em class="fas fa-fw fa-home"></em>
      <span>Home</span></a
    >
  </li>

  <!-- Nav Item - Profile -->
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/author']"
    >
      <em class="fas fa-fw fa-user"></em>
      <span>Profile</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light btn-icon-split"
      data-toggle="modal"
      data-target="#tweetModal"
    >
      <span class="icon text-gray-600">
        <em class="fas fa-plus"></em>
      </span>
      <span class="text">Tweet</span>
    </button>
  </div>
</ul>

<!-- Modal -->
<div
  class="modal fade"
  id="tweetModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tweetModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-crear-publicacion></app-crear-publicacion>
      </div>
    </div>
  </div>
</div>
