<div class="card  mx-auto d-block">
  <div class="card-header">
    <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">
      <img
        class="img-profile rounded-circle"
        src="{{ this.userData.img }}"
        alt="Foto de perfil"
        style="height: 35px; width: 35px;"
      />
      {{ this.userData.fullName }}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ this.postData.content }}</p>
    <div *ngIf="this.postData.img != null && this.postData.img != ''">
      <img class="img" src="{{ this.postData.img }}" alt="imagen publicacion" />
    </div>
    <!--  boton de comentario, textbox con form de comentario para publicar y lista de comentarios -->
  </div>
</div>
