<div class="card shadow mb-4" *ngIf="this.userData">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col text-right mr-0 pr-0">
          <img class="image rounded-circle" alt="Profile picture." src="{{ this.userData.img }}" />
        </div>
        <div class="col-9 text-left">
          <a routerLink="/author" [queryParams]="{userId: this.userData.userId}"
            ><h6 class="m-0 text-xs font-weight-bold text-primary text-uppercase">
              {{ this.userData.fullName }} (@{{ this.userData.userName }})
            </h6></a
          >
          <h6 class="m-0 text-xs text-uppercase">{{ this.postData.created | date: 'short' }}</h6>
        </div>
      </div>
    </div>
    <div class="dropdown no-arrow" *ngIf="this.userLoggedInId === this.postData.userId">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <em class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></em>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
        aria-labelledby="dropdownMenuLink"
      >
        <div class="dropdown-header">Action:</div>
        <a class="dropdown-item" (click)="delete(this.postData.userId, this.postData.key)"
          >Delete</a
        >
      </div>
    </div>
  </div>
  <div class="card-body">
    {{ this.postData.content }}
    <div *ngIf="this.postData.img != null && this.postData.img != ''">
      <img class="img rounded mt-2" src="{{ this.postData.img }}" alt="Post image." />
    </div>
  </div>
  <div class="card-footer text-muted d-flex">
    <button type="button" class="btn btn-light btn-sm mr-auto">
      <div
        *ngIf="this.usersReactionIds.length <= 0; then noReactionsBlock; else reactionsBlock"
      ></div>
      <ng-template #noReactionsBlock></ng-template>
      <ng-template #reactionsBlock>
        <span class="mr-2">{{ this.usersReactionIds.length }}</span>
        <div
          *ngIf="this.usersReactionIds.length == 1; then oneReactionBlock; else manyReactionsBlock"
        ></div>
        <ng-template #oneReactionBlock><span class="text">Like</span></ng-template>
        <ng-template #manyReactionsBlock><span class="text">Likes</span></ng-template>
      </ng-template>
    </button>
    <div *ngIf="userLikeThisPost; else userNotLikeThisPost">
      <button
        type="button"
        class="btn btn-secondary btn-circle btn-sm text-right"
        (click)="unlikePost()"
      >
        <em class="fas fa-thumbs-up"></em>
      </button>
    </div>
    <ng-template #userNotLikeThisPost>
      <button
        type="button"
        class="btn btn-primary btn-circle btn-sm text-right"
        (click)="likePost()"
      >
        <em class="fas fa-thumbs-up"></em>
      </button>
    </ng-template>
  </div>
</div>
