<div class="container-fluid">
  <div *ngIf="userExist; else elseBlock" class="row">
    <!-- User Information -->
    <div class="card-columns">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {{ this.user.fullName }} (@{{ this.user.userName }})
          </h6>
        </div>
        <div class="card-body">
          <div class="rounded-circle image">
            <img
              class="img img-responsive full-width"
              alt="Profile picture."
              [src]="this.user.img"
            />
          </div>
          <div class="h5 mt-4 font-weight-bold text-gray-800 text-center">Following: X.XXX</div>
          <div class="h5 mt-2 font-weight-bold text-gray-800 text-center">Followers: X.XXX</div>
          <div class="text-center">
            <!-- User is visiting his profile -->
            <app-editar-informacion-modal
              *ngIf="userConsultingHisPersonalProfile && user; else elseFollowButton"
              [userData]="this.user"
            ></app-editar-informacion-modal>
            <!-- User is visiting another user profile -->
            <ng-template #elseFollowButton>
              <!-- User is following the visited profile -->
              <div *ngIf="userIsFollowingVisitedProfile; else userNotFollowingVisitedProfile">
                <a href="#" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <em class="fas fa-user-times"></em>
                  </span>
                  <span class="text">Unfollow</span>
                </a>
              </div>
              <!-- User is not following the visited profile -->
              <ng-template #userNotFollowingVisitedProfile>
                <button type="button" class="btn btn-primary btn-icon-split" (click)="followUser()">
                  <span class="icon text-white-50">
                    <em class="fas fa-plus"></em>
                  </span>
                  <span class="text">Follow</span>
                </button>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>

      <!-- User posts -->
      <app-publicacion
        *ngFor="let post of this.posts"
        [userData]="this.user"
        [postData]="post"
      ></app-publicacion>
    </div>
  </div>
  <ng-template #elseBlock>
    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="error mx-auto" data-text="404"><em class="fas fa-ghost"></em></div>
      <p class="lead text-gray-800 mb-5">User Not Found</p>
      <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
      <a href="index.html">&larr; Back to Home</a>
    </div>
  </ng-template>
</div>
